<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>テスト</title>
    </head>
    <body>
        <table>
            <tr style="background-color: #eee;">
                <th>CP</th>
                <th>HP</th>
                <th>性別</th>
                <th>重さ</th>
                <th>高さ</th>
                <th>技1</th>
                <th>技2</th>
            </tr>
            <td>593</td>
            <td>62</td>
            <td>♂</td>
            <td>12.08 kg</td>
            <td>0.59 m</td>
            <td>たいあたり</td>
            <td>アクアテール</td>
        </table>
    </body>
</html>
