{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>テスト</title>
        <!--CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <!--JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <!-- 個別css -->
        <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/style.css' %}" />
        
    </head>
    <body>
        <table>
            <tr class="table_item_name">
                <th class="tabale_CP">CP</th>
                <th class="table_HP">HP</th>
                <th class="tabe_SEX">性別</th>
                <th class="table_WEIGHT">重さ(kg)</th>
                <th class="table_HEIGHT">高さ(m)</th>
                <!-- ポケモン　技の英訳については　https://bulbapedia.bulbagarden.net/wiki/Move 参照で -->
                <th class="table_MOVE1">技1</th>
                <th class="table_MOVE2">技2</th>
            </tr>
            {% for item in data %}
            <tr class="table_item">
                <td class="tabale_CP">{{item.CP}}</td>
                <td class="table_HP">{{item.HP}}</td>
                <td class="tabe_SEX">
                    {% if item.SEX == False %}♂{% endif %}
                    {% if item.SEX == True %}♀{% endif %}
                </td>
                <td class="table_WEIGHT">{{item.WEIGHT}}</td>
                <td class="table_HEIGHT">{{item.HEIGHT}}</td>
                <td class="table_MOVE1">{{item.MOVE1}}</td>
                <td class="table_MOVE2">{{item.MOVE2}}</td>
            </tr>
            {% endfor %}
        </table>
        
    </body>
</html>
